<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.rudolphh.studentscheduler">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        app:contentInsetStartWithNavigation="20dp">
        <activity android:name=".course.details.CourseDetailsActivity"
            android:label="Course Details Activity"
            android:parentActivityName=".course.main.CourseMainActivity"/>
        <activity android:name=".mentor.MentorCreateActivity" />
        <activity android:name=".assessment.AssessmentCreateActivity" />
        <activity android:name=".course.CourseCreateActivity" />
        <activity android:name=".term.create.TermCreateActivity" />
        <activity
            android:name=".mentor.MentorMainActivity"
            android:label="Mentor Main Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".assessment.main.AssessmentMainActivity"
            android:label="Assessment Main Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".course.main.CourseMainActivity"
            android:label="Course Main Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".term.main.TermMainActivity"
            android:label="Term Main Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>